<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.github.sakana.product.mapper.ProductSKUMapper">
    <select id="selectByProductIds" resultType="io.github.sakana.product.pojo.entity.ProductSKU">
        select *
        from product.product_sku
        where product_id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>
    <select id="selectByIds" resultType="io.github.sakana.product.pojo.entity.ProductSKU">
        select *
        from product.product_sku
        where id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>
</mapper>
