<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.github.sakana.product.mapper.ProductMapper">

    <select id="selectPage" resultType="java.lang.Long">
        <choose>
            <when test="sort == @io.github.sakana.product.enumeration.PageSort@PRICE_DESC">
                select product_id
                from product.product_sku
                where product_status = 1 and status = 1
                <if test="categoryId != null">
                    and product_id in (
                        select id
                        from product.product
                        where product.status = 1
                            and category_id = #{categoryId}
                    )
                </if>
                group by product_id
                order by min(price) desc
                limit #{offset}, #{size}
            </when>
            <when test="sort == @io.github.sakana.product.enumeration.PageSort@PRICE_ASC">
                select product_id
                from product.product_sku
                where product_status = 1 and status = 1
                <if test="categoryId != null">
                    and product_id in (
                    select id
                    from product.product
                    where product.status = 1
                        and category_id = #{categoryId}
                    )
                </if>
                group by product_id
                order by min(price)
                limit #{offset}, #{size}
            </when>
            <otherwise>
                select id
                from product.product
                where status = 1
                <if test="categoryId != null">
                    and category_id = #{categoryId}
                </if>
                order by created_time desc
                limit #{offset}, #{size}
            </otherwise>
        </choose>
    </select>

    <select id="count" resultType="java.lang.Long">
        select count(*)
        from product.product
        where status = 1

        <if test="categoryId != null">
            and category_id = #{categoryId}
        </if>
    </select>
    
    <select id="selectByIds" resultType="io.github.sakana.product.pojo.entity.Product">
        select *
        from product.product
        where id in 
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>
</mapper>
