<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.github.sakana.product.mapper.ProductMapper">

    <select id="selectPage" resultType="java.lang.Long">
        select
            p.id
        from product.product p

        left join product.product_sku ps
        on p.id = ps.product_id

        where p.status = 1

        <if test="categoryId != null">
            and p.category_id = #{categoryId}
        </if>

        group by
            p.id,
            p.created_time

        <choose>

            <when test="sort == @io.github.sakana.product.enumeration.ProductSort@PRICE_ASC">
                order by min(ps.price)
            </when>

            <when test="sort == @io.github.sakana.product.enumeration.ProductSort@PRICE_DESC">
                order by min(ps.price) desc
            </when>

            <otherwise>
                order by p.created_time desc
            </otherwise>

        </choose>

        limit #{offset}, #{size}
    </select>

    <select id="count" resultType="java.lang.Long">
        select count(*)
        from product.product
        where status = 1

        <if test="categoryId != null">
            and category_id = #{categoryId}
        </if>
    </select>
    
    <select id="selectByIds" resultType="io.github.sakana.product.pojo.entity.Product">
        select *
        from product.product
        where id in 
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>
</mapper>
