<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.sakana.mockdata.mapper.MockProductMapper">

    <insert id="batchInsert">
        insert into `product`.`product`
            (`id`, `category_id`, `name`, `subtitle`, `brand`, `status`, `created_time`, `updated_time`)
        values
        <foreach collection="list" item="it" separator=",">
            (#{it.id}, #{it.categoryId}, #{it.name}, #{it.subtitle}, #{it.brand}, #{it.status},
             #{it.createdTime}, #{it.updatedTime})
        </foreach>
    </insert>

    <update id="truncate">
        truncate table `product`.`product`
    </update>

</mapper>
